<html lang="en">
<head>
    <title>程序员有问题就上麻雀窝 和大牛直接聊</title>
    <meta content="register 注册 " name="keywords"/>
    <meta content="程序员有问题就上麻雀窝 和大牛直接聊" name="description"/>
    <meta name="application-name" content="麻雀窝"/>
    <meta name="msapplication-tooltip" content="麻雀窝"/>

    <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/pure-css/pure-min.css?v=1.0"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/layouts-old-ie.css?v=1.0"/>
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/layouts.css?v=1.0"/>
    <!--<![endif]-->
    <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/sparrow.css?v=1.0"/>
    <script language="javascript" type="text/javascript"
            src="http://r.sparrowzoo.net/scripts/sparrow.js?v=1.0"></script>
</head>
<body>
<div class="body">

    <div class="header">
        <h1>程序员有问题就上麻雀窝 和大牛直接聊</h1>
        <h2 class="header">一个专注java 从小白到就业的网站</h2>
        <h2>
            <a href="login" target="_blank">登录</a>
            <a href="register" target="_blank">注册</a>

            <a href="http://passport.sparrowzoo.com/modify-avatar">上传头象</a>
        </h2>
    </div>

    <div class="content">
        <h2>志哥是谁</h2>
        <ul>
            <li>
                原每日优鲜推荐系统 供应链算法架构师
            </li>
            <li>原同程旅游ATPCO 项目负责人，全球10亿数据量</li>
        </ul>

        <h2><a href="https://sparrowzoo.feishu.cn/docx/PdOed85n0o86TxxQBEOcOGZPnoh" target="_blank">0基础大纲指南</a>
        </h2>
    </div>
</div>
</body>
</html>
